
.containerUser {

    width: 26.667%;
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-bottom: 20px;
    left: auto;
    right: auto;
    display: block;
    float: left;
    padding: 0 0.75rem;
}

.containerUsers {
    width: 100%;
    margin-bottom: 20px;
}