section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
section>a{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
}