.utilisateur-card {
    width: 100%;
    height: 100%;
    //margin:20px 20px 20px 20px ;
}
  

.utilisateur-header-image {
    background-size: cover;
}
a.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 188px;
}
mat-card-header{
    overflow: hidden;
}
mat-card-subtitle.contact-info {
    display: flex;
    margin-top: -7px;
    height: 20px;
  }
  