<mat-card class="utilisateur-card">
    <mat-card-header>
      <div mat-card-avatar [ngStyle]="{'background-image': 'url('+ utilisateur.photoUrl +')'}"></div>
      <mat-card-title  class="truncate">{{ utilisateur.nom }}</mat-card-title>
      <mat-card-subtitle  class="truncate">{{ utilisateur.prenom }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-card-subtitle class="contact-info">
        <mat-icon>email</mat-icon>
        <a
          href="mailto:{{ utilisateur.prenom }} {{ utilisateur.nom }}&lt;{{ utilisateur.email }}&gt;"
          title="Send an email to {{ utilisateur.prenom }} {{ utilisateur.nom }}"
          class="truncate">{{ utilisateur.email }}</a
        >
      </mat-card-subtitle>
      <mat-card-subtitle class="contact-info">
        <mat-icon>phone</mat-icon>
        <a
          href="phoneto:{{ utilisateur.telephone }}&gt;"
          title="call {{ utilisateur.prenom }} {{ utilisateur.nom }}"
          class="truncate">{{ utilisateur.telephone }}</a
        >
      </mat-card-subtitle>
      <mat-card-subtitle class="contact-info">
        <mat-icon>{{utilisateur.role.toUpperCase()}}</mat-icon>
      </mat-card-subtitle>
      
      
    </mat-card-content>
    <mat-card-actions>
      <button (click)="showDialog()" *ngIf="isAdmin && dialogStatus == 'inactive'" mat-mini-fab color="accent">
        <i class="material-icons">edit</i>
      </button>
    </mat-card-actions>

  </mat-card>