<mat-card class="utilisateur-card">
    <mat-card-header>
      <div mat-card-avatar [ngStyle]="{'background-image': 'url('+ utilisateur.photoUrl +')'}"></div>
      <mat-card-title>{{ utilisateur.nom }}</mat-card-title>
      <mat-card-subtitle>{{ utilisateur.prenom }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Email : {{ utilisateur.email }}
      Role : {{ utilisateur.role }}
      
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="['/updateUtilisateur',utilisateur.id]" >Modifier</button>
      <button mat-button >Supprimer </button>
    </mat-card-actions>
  </mat-card>